In [44]:
import streamlit as st
import numpy as np
import pandas as pd
import yfinance as yf

In [45]:
df = pd.DataFrame({
    '1列目': [1,2,3,4],
    '2列目': [10,20,30,40]
    })

In [46]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [59]:
def get_data(days, tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[['Close']]
        hist.columns = [company]
        #hist = hist.T
        hist.index.name = 'Date'
        hist = hist.T
        df = pd.concat([df,hist])
    return df

In [60]:
days= 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}
df = get_data(days, tickers)

In [61]:
df

Date,24 June 2021,25 June 2021,28 June 2021,29 June 2021,30 June 2021,01 July 2021,02 July 2021,06 July 2021,07 July 2021,08 July 2021,09 July 2021,12 July 2021,13 July 2021,14 July 2021,15 July 2021,16 July 2021,19 July 2021,20 July 2021,21 July 2021,22 July 2021
apple,133.410004,133.110001,134.779999,136.330002,136.960007,137.270004,139.960007,142.020004,144.570007,143.240005,145.110001,144.500000,145.639999,149.149994,148.479996,146.389999,142.449997,146.149994,145.399994,146.800003
facebook,343.179993,341.369995,355.640015,351.890015,347.709991,354.390015,354.700012,352.779999,350.489990,345.649994,350.420013,353.160004,352.089996,347.630005,344.459991,341.160004,336.950012,341.660004,346.230011,351.190002
google,2450.000000,2450.169922,2450.719971,2445.449951,2441.790039,2448.889893,2505.149902,2523.800049,2529.479980,2500.879883,2510.370117,2539.510010,2546.830078,2564.739990,2540.100098,2539.399902,2491.560059,2524.189941,2550.979980,2568.429932
microsoft,266.690002,265.019989,268.720001,271.399994,270.899994,271.600006,277.649994,277.660004,279.929993,277.420013,277.940002,277.320007,280.980011,282.510010,281.029999,280.750000,277.010010,279.320007,281.399994,286.140015
netflix,518.059998,527.070007,533.030029,533.500000,528.210022,533.539978,533.979980,541.640015,535.960022,530.760010,535.979980,537.309998,540.679993,547.950012,542.950012,530.309998,532.280029,531.049988,513.630005,511.769989
amazon,3449.080078,3401.459961,3443.889893,3448.139893,3440.159912,3432.969971,3510.979980,3675.739990,3696.580078,3731.409912,3719.340088,3718.550049,3677.360107,3681.679932,3631.199951,3573.629883,3549.590088,3573.189941,3585.199951,3638.030029

In [62]:
df.index

Index(['apple', 'facebook', 'google', 'microsoft', 'netflix', 'amazon'], dtype='object')

In [64]:
aapl = yf.Ticker('AAPL')
days = 20
hist = aapl.history(period=f'{days}d')

In [66]:
hist.reset_index()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0,0
1,2021-06-25,133.460007,133.889999,132.809998,133.110001,70783700,0,0
2,2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0,0
3,2021-06-29,134.800003,136.490005,134.350006,136.330002,64556100,0,0
4,2021-06-30,136.169998,137.410004,135.869995,136.960007,63261400,0,0
5,2021-07-01,136.600006,137.330002,135.759995,137.270004,52485800,0,0
6,2021-07-02,137.899994,140.000000,137.750000,139.960007,78852600,0,0
7,2021-07-06,140.070007,143.149994,140.070007,142.020004,108181800,0,0
8,2021-07-07,143.539993,144.889999,142.660004,144.570007,104911600,0,0
9,2021-07-08,141.580002,144.059998,140.669998,143.240005,105575500,0,0
10,2021-07-09,142.750000,145.649994,142.649994,145.110001,99788400,0,0
11,2021-07-12,146.210007,146.320007,144.000000,144.500000,76299700,0,0
12,2021-07-13,144.029999,147.460007,143.630005,145.639999,100827100,0,0
13,2021-07-14,148.100006,149.570007,147.679993,149.149994,127050800,0,0
14,2021-07-15,149.240005,150.000000,147.089996,148.479996,106820300,0,0
15,2021-07-16,148.460007,149.759995,145.880005,146.389999,93100300,0,0
16,2021-07-19,143.750000,144.070007,141.669998,142.449997,121434600,0,0
17,2021-07-20,143.460007,147.100006,142.960007,146.149994,96238600,0,0
18,2021-07-21,145.529999,146.130005,144.630005,145.399994,74915000,0,0
19,2021-07-22,145.940002,148.199997,145.809998,146.800003,77246300,0,0

In [80]:
#def get_data(days, tickers):
days = 20
tickers = {
    'apple': 'AAPL',
    'facebook': 'FB',
    'google': 'GOOGL',
    'microsoft': 'MSFT',
    'netflix': 'NFLX',
    'amazon': 'AMZN'
}

df = pd.DataFrame()
for company in tickers.keys():
    tkr = yf.Ticker(tickers[company])
    hist = tkr.history(period=f'{days}d')
    hist =hist.reset_index()
    #hist.index = hist.index.strftime('%d %B %Y')
    hist = hist[['Date','Close']]
    hist.columns = [['Date','Company']]
    hist = hist.T
    hist.index.name = 'Name'
    df = pd.concat([df, hist])
print(df)

ValueError: Length mismatch: Expected axis has 2 elements, new values have 1 elements

In [79]:
days = 20
tickers = {
    'amazon': 'AMZN',
}

#df = pd.DataFrame()
tkr = yf.Ticker(tickers[company])
hist = tkr.history(period=f'{days}d')
hist =hist.reset_index()
#hist.index = hist.index.strftime('%d %B %Y')
hist = hist[['Date','Close']]
# hist.columns = [company]
# hist = hist.T
# hist.index.name = 'Name'
#df = pd.concat([df, hist])
print(hist)

         Date        Close
0  2021-06-24  3449.080078
1  2021-06-25  3401.459961
2  2021-06-28  3443.889893
3  2021-06-29  3448.139893
4  2021-06-30  3440.159912
5  2021-07-01  3432.969971
6  2021-07-02  3510.979980
7  2021-07-06  3675.739990
8  2021-07-07  3696.580078
9  2021-07-08  3731.409912
10 2021-07-09  3719.340088
11 2021-07-12  3718.550049
12 2021-07-13  3677.360107
13 2021-07-14  3681.679932
14 2021-07-15  3631.199951
15 2021-07-16  3573.629883
16 2021-07-19  3549.590088
17 2021-07-20  3573.189941
18 2021-07-21  3585.199951
19 2021-07-22  3638.030029